---
import Layout from '../../layouts/Layout.astro';

import { fetchDatabase } from '../../lib/notion.ts';

const posts = await fetchDatabase();
const post = posts.find((p) => p.slug === Astro.params.slug);

if (!post) {
  throw new Error('Post not found');
}
---
<Layout title="Welcome to Astro.">
	<main>
<article class="prose prose-lg mx-auto mt-8 max-w-3xl">
  {post.content}
</article>
</main>
</Layout> 