---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex w-full h-full justify-center items-center text-center">
		<p class="text-3xl text-red-500">404 - Página não encontrada</p>
    <a href="./" class="underline text-primary">Voltar para Home</a>
	</main>
</Layout>